@page
@model IndexModel
@{
    ViewData["Title"] = "Notes API";
}

<button onclick="AddNote();" class="btn btn-sm btn-success">Add Note</button>

<table id="tblNotes" class="display" style="width:100%">
    <tbody></tbody>
</table>
